:root {
    /* colors */
    --primary-color: #f6ba3d;
	--secondary-color: #DB581B;
    --accent1-color: #f6eddc;
	--accent2-color: #31150F;

    /* fonts */
    --heading-font: 'Trebuchet MS', Tahoma, Geneva, sans-serif;
	--paragraph-font: 'Verdana', Geneva, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--paragraph-font);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
}

/*
    Navigation
*/
nav {
    background-color: var(--secondary-color);
    margin: 0;
    padding: 0;
    color: black;
}

nav ul {
    list-style-type: none;
    display: flex;
    align-items: stretch;
    margin: 0;
    padding: 0;
}

nav li {
    display: flex;
    align-items: center;
    padding: 1em;
}

nav li a {
    color: black;
    text-decoration: none;
}

nav li.link {
    transition: background-color 0.2s ease-in-out;
}

nav li.link:hover {
    background-color: var(--primary-color);
}

nav #toggle-navigation {
    display: none;
}

@media only screen and (max-width: 599px) {
    nav .logo-container {
        display: flex;
    }

    nav #toggle-navigation {
        display: block;
        margin-left: auto;
    }

    nav ul {
        display: block;
    }

    nav li.link {
        display: none;
    }

    nav li.link.active {
        display: block;
    }
}

/*
    Header
*/
header.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('images/mac-and-cheese-header.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed; /* paralax effect */
    min-height: 95vh;
    max-width: 100%;
}

header > .header-content {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--accent1-color);
    color: var(--secondary-color);
    padding: 3em;
}

header.hero > .header-content {
    text-align: center;
    background-color: rgba(246, 237, 222, 0.85);
    padding: 25px;
    border-radius: 1em;
    color: var(--secondary-color);
    display: block;
}

header > .header-content img {
    width: 15em;
}

header > .header-content h1 {
    letter-spacing: 0.25em;
}

@media screen and (max-width: 499px) {
    header > .header-content {
        display: block;
        text-align: center;
    }
}

/*
    Main & Section
*/
main {
    margin: 0;
}

section.our-mission {
    text-align: center;
    width: 50%;
}

section.featured-recipes > p {
    width: 66%;
    margin: 0 auto 2% auto;
}

section {
    text-align: center;
    width: 75%;
    margin: 5% auto;
}

section h2 {
    font-size: 3em;
}

/*
    Footer
*/
footer {
    background-color: var(--secondary-color);
    color: black;
    font-family: var(--paragraph-font);
    display: flex;
    flex-wrap: wrap;
    padding: 1em;
}

.footer-content {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    place-items: center;
    width: 100%;
}

.footer-content .social-media-container > a {
    margin: 1em;
    text-decoration: none;
}

.footer-content .footer-link-container {
    display: flex;
    gap: 2em;
}

.footer-content .footer-link-container a {
    text-decoration: none;
    color: black;
}

.copyright-notice {
    width: 100%;
    text-align: center;
    margin-top: 3em;
}

@media screen and (max-width: 799px) {
    .footer-content {
        grid-template-columns: auto;
        row-gap: 1em;
    }

    .footer-content .social-media-container > a {
        margin: 0;
    }
}

/*
    Recipe Preview Container
*/

.recipe-preview-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 2em;
    row-gap: 2em;
}

.recipe-preview {
    text-align: left;
    border: 1px solid black;
    border-radius: 5px;
    display: grid;
    grid-template-rows: 50% auto;
}

.recipe-preview-content {
    padding: 1em;
    display: grid;
    grid-template-rows: 10% 20% auto 10%;
}

.recipe-preview img {
    border-radius: 5px 5px 0px 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width: 1549px) {
    .recipe-preview-container {
        grid-template-columns: 1fr 1fr;
    }
}


@media screen and (max-width: 899px) {
    .recipe-preview-container {
        grid-template-columns: 1fr;
    }

    .recipe-preview {
        grid-template-rows: 30% auto;
    }

    .recipe-preview-content {
        grid-template-rows: auto;
    }
}

/*
    Recipe
*/
.recipe {
    display: grid;
    grid-template-columns: 35% auto;
    text-align: left;
    column-gap: 1em;
}

.recipe > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

@media screen and (max-width: 999px) {
    .recipe {
        grid-template-columns: auto;
    }
}

/*
    Misc
*/
button {
    padding: 1em;
    border: 2px solid white;
    border-radius: 5px;
    background-color: var(--accent2-color);
    color: white;
    font-family: var(--paragraph-font);
    transition: transform 0.2s ease-in-out;
}

button.grow-on-hover:hover {
    transform: scale(1.05);
}

button:focus {
    border: 3px solid blue;
}

.logo-icon {
    height: 32px;
    width: auto;
    margin-right: 0.5em;
}

.inline-logo-container {
    display: flex;
    align-items: center;
}

/*
    Shareable Link
*/
#shareable-link-popup {
    position: fixed;
    background-color: var(--secondary-color);
    color: black;
    border-radius: 5px;
}

#uneditable-link-input {
    padding: 1em;
    background-color: var(--accent2-color);
    color: white;
}

#close-dialog {
    position: absolute;
    top: 5px;
    right: 5px;
}