* {
    box-sizing: border-box;
}

body {
    font-size: 20px;
    max-width: 1280px;
    margin: auto;
    padding: 1em;
}

img {
    max-width: 100%;
}

nav > ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    gap: 1em;
}

nav > ul > li {
    flex: 0 1 5em;
    text-align: center;
}

.media-card { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
}

@media screen and (min-width: 550px) {
    .media-card {
        flex-direction: row;
    }

    .media-card-image {
        flex: 0 1 250px;
    }

    .media-card-content {
        flex: 0 1 60ch;
    }
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
}

.gallery > * {
    flex: 1 1 460px;
}